body {
    margin: 0;
    background-color: rgba(250, 250, 250, 1);
}

header {
    display: none;
}

aside {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 76px;
    min-height: 480px;

    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
}

.icon-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-icon {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: rgba(250, 250, 250, 1);
}

.header-icon {
    width: 32px;
    height: 32px;
}

.outer-container {
    display: flex;
    align-content: center;
    justify-content: center;

    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

.transform-container {
    min-height: 100vh;
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;

    width: 640px;
    max-width: 640px;
    flex-grow: 1;
    container-type: inline-size;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 60px;
     
    position: sticky;
    top: 0; 
    z-index: 1;

    background-color: rgba(250, 250, 250, 1);
}

.outer-feed-slider {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    width: 100%;
    min-height: 100%;
    border: solid 0.5px purple;

    overscroll-behavior-y: auto;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 1);
}

.inner-feed-slider {
    display: flex;
    flex-direction: column;

    margin: 0px 24px;
    border-radius: 12px 12px 0 0;
}

.left-corner {
    display: block;

    height: 36px;
    width: 36px;

    top: 48px;
    left: -12px;
    z-index: 1;

    position: absolute;

    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
}

.inner-left {
    display: block;

    height: 48px;
    width: 48px;

    top: 12px;
    left: 12px;

    position: absolute;

    border: 0.5px solid purple;
    border-radius: 24px 0px 0px 0px;

    background-color: rgba(255, 255, 255, 1);
}

.center-bar {
    display: block;

    height: 12px;
    width: calc(100% - 46px);

    top: 48px;
    left: 24px;
    
    position: absolute;
    z-index: 1;
    overflow: hidden;
    box-sizing: content-box;
    background-color: rgba(250, 250, 250, 1);

    border-bottom: solid 0.5px purple;
}

.inner-center {
    display: block;

    width: 100%;
    height: 100%;

    top: 100%;

    position: absolute;
}

.right-corner {
    display: block;

    height: 36px;
    width: 36px;

    top: 48px;
    right: -12px;
    z-index: 1;

    position: absolute;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
}

.inner-right {
    display: block;

    height: 48px;
    width: 48px;

    top: 12px;
    right: 12px;

    position: absolute;

    border: 0.5px solid purple;
    border-radius: 0px 24px 0px 0px;

    background-color: rgba(255, 255, 255, 1);
}

@media (min-width: 700px) and (max-width: 955px) {
    .transform-container {
        max-width: calc(100% - 1.5* 76px - 77px);
    }
}

@media (min-width: 150px) and (max-width: 699px) {
    .outer-outer-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .header {
        display: none;
    }

    header {
        width: 100%;
        height: 74px;
        top: 0px;
        left: 0px;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(28.5px);
    }

    aside {
        display: none;
    }

    .bottom-navbar {
        margin: auto;
        height: 68px;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 1fr;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 1;
        align-items: center;
        background-color: rgba(250, 250, 250, 1);
    }

    .bottom-navbar-icon {
        height: 100%;
        position: relative;
        align-content: center;
        text-align: center;
    }

    .outer-feed-slider {
        border: none;
    }

    .outer-container {
        padding: 0px;
        background-color: rgba(255, 255, 255, 1);
    }
}