.profile {
  padding: 1rem;
}

.profile-details {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  clear: left;
  display: grid;
  grid-template-rows: auto auto;
}

.profile-name {
  font-weight: bold;
  font-size: 2rem;
}

.profile-alias {
  font-weight: lighter;
  font-size: 1rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.profile-bio {
  text-align: justify;
  text-justify: inter-word;
}

.profile-image {
  margin: 1em 1em 1em 0;
  float: right;
  img {
    height: 6em;
    width: 6em;
  }
}

