<!-- post 1 -->
<div class="post card mb-3 border-0" onclick="redirectToPost('post-1')">
    <div class="post-header card-header d-flex align-items-center bg-white border-0">
        <a href="profile/profile.html" class="me-3">
        <img src="images/extras/vergil.png" alt="Avatar" class="avatar rounded-circle">
        </a>
        <div class="post-info">
            <span class="username fw-bold">Vergil (yamato.vergil)</span>
            <span class="timestamp text-muted small">Just now</span>
        </div>
    </div>
    <div class="post-description card-body">
        Might controls everything, and without power you cannot protect anything, let alone yourself.
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        <!-- Images here -->
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">1.9M</span>
        </span>
        <span class="action comment d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            1.8K
        </span>
    </div>
</div>

<!-- Post 2 -->
<div class="post card mb-3 border-0" onclick="redirectToPost('post-2')">
    <div class="post-header card-header d-flex align-items-center bg-white border-0">
        <a href="profile/profile.html" class="me-3">
            <img src="images/extras/gordon.png" alt="Avatar" class="avatar rounded-circle">
        </a>
        <div class="post-info">
            <span class="username fw-bold">Gordon Ramsay (masterchef.gordon)</span>
            <span class="timestamp text-muted small">5m ago</span>
        </div>
    </div>
    <div class="post-description card-body">
        My new dish! Come and have some at my restaurant!
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        <img src="images/extras/plain_bread.jpg" draggable="false" alt="Image 4" class="post-image rounded">
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon "></i>
            <span class="like-count">4</span>
        </span>
        <span class="action comment d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            98.5K
        </span>
    </div>
</div>

<!-- Post 3 -->
<div class="post card mb-3 border-0">
    <div class="post-header card-header d-flex align-items-center bg-white border-0">
        <img src="images/extras/gojo.jpg" alt="Avatar" class="avatar rounded-circle me-3">
        <div class="post-info">
            <span class="username fw-bold">Satoru Gojo (thehonored.one)</span>
            <span class="timestamp text-muted small">Just now</span>
        </div>
    </div>
    <div class="post-description card-body">
        Sorry, Amanai.
        I'm not even angry over you right now. I bear no grudge against anyone.
        It's just that the world feels so, so wonderful right now.
        "Throughout Heaven and Earth, I alone am the honored one".
        However, even in the Gojo clan only a scant few know about this.
        Take the amplified and the reversal, then combine those two different expressions of infinity to create and push out imaginary mass.
        Imaginary technique... Purple.
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        <!-- Images here -->
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0 ">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">1.1B</span>
        </span>
        <span class="action comment d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            0
        </span>
    </div>
</div>

<!-- Post 4 -->
<div class="post card mb-3 border-0">
    <div class="post-header card-header d-flex align-items-center bg-white border-0">
        <img src="images/extras/walter.jpg" alt="Avatar" class="avatar rounded-circle me-3">
        <div class="post-info">
            <span class="username fw-bold">Walter H.Whtie (heisen.berg)</span>
            <span class="timestamp text-muted small">1h ago</span>
        </div>
    </div>
    <div class="post-description card-body">
        how to get free vbucks fortnite 2024
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        <img src="images/extras/dumb.jpg" draggable="false" alt="Image 3" class="post-image rounded">
        <img src="images/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image rounded">
        <img src="images/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image rounded">
        <img src="images/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image rounded">
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">12</span>
        </span>
        <span class="action comment d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            22
        </span>
    </div>
</div>