<div class="profile">
    <div class="profile-image">
        <img src="/images/extras/faker.png" alt="Avatar" class="avatar">
    </div>
    <div class="profile-details">
        <div class="profile-name">Lee Sang Hyeok</div>
        <div class="profile-alias">faker.t1</div>
        <div class="follower-container">
            <div class="followers">
            <a href="../context/followers.html" class="text-dark link-underline link-underline-opacity-0 d-inline">
                <div class="fw-bold d-inline">69</div> Followers
            </a>
            <a href="../context/followers.html" class="text-dark link-underline link-underline-opacity-0 d-inline mx-2  ">
                <div class="fw-bold d-inline">420</div> Following
            </a>
            </div>
        </div>
    </div>
    <div class="profile-bio">
        Unkillable Demon King. 5x World Champion.
        <br>
        My house is in the northeast section of Morioh, where all the villas are, and I am not married.
        I work as an employee for the Kame Yu department stores, and I get home every day by 8 PM at the latest.
        I don't smoke, but I occasionally drink.
        I'm in bed by 11 PM, and make sure I get eight hours of sleep, no matter what.
        After having a glass of warm milk and doing about twenty minutes of stretches before going to bed, I usually have no problems sleeping until morning.
        Just like a baby, I wake up without any fatigue or stress in the morning.
        I was told there were no issues at my last check-up.
    </div>
</div>

<a class="btn btn-light btn-outline-dark position-relative justify-content-center align-items-center my-1 mx-4" href="profile_edit/edit_profile.html">Edit Profile</a>
<hr>

<div class="post">
    <div class="post-header">
        <a href="../profile/my_profile.html">
            <img src="/images/extras/faker.png" alt="Avatar" class="avatar">
        </a>
        <div class="post-info">
            <span class="username">Lee Sang Hyeok</span>
            <span class="timestamp">1y ago</span>
        </div>
    </div>
    <div class="post-description">
        gg
    </div>
    <div class="post-images">
        <img src="/images/extras/faker_win.jpg" draggable="false" alt="Image 1" class="post-image">
        <img src="/images/extras/mvp.jpg" draggable="false" alt="Image 2" class="post-image">
    </div>
    <div class="post-actions">
        <span class="action like">
            <img src="../images/love-icon.png" style="width: 20px; height: 20px;" alt="Image 1">
            12
        </span>
        <span class="action comment">
            <img src="../images/comment-icon.png" style="width: 19px; height: 19px;" alt="Image 1">
            220
        </span>
    </div>
</div>