<div class="notification-box" onmouseenter="showNotificationOptions(event)" onmouseleave="hideNotificationOptions(event)">
  <a href="/sus.red" class="float-start">
    <img src="/images/avatar.png" alt="Avatar" class="avatar rounded-circle">
  </a>

  <div class="notification-content">
    <div class="text-dark">sus.red has followed you!</div>
    <div class="text-muted">12 minutes ago</div>
  </div>

  <hr>
</div>
