<!-- post 1 -->
<div class="post" onclick="redirectToPost('post-1')">
    <div class="post-header">
        <a href="profile/profile.html" >
        <img src="res/extras/vergil.png" alt="Avatar" class="avatar">
        </a>
        <div class="post-info">
            <span class="username">Vergil (yamato.vergil)</span>
            <span class="timestamp">Just now</span>
        </div>
    </div>
    <div class="post-description">
        Might controls everything, and without power you cannot protect anything, let alone yourself.
    </div>
    <div class="post-images">
        <!--<img src="res/temp.png" draggable="false" alt="Image 1" class="post-image">-->
        <!--<img src="res/temp.png" draggable="false" alt="Image 2" class="post-image">-->
    </div>
    <div class="post-actions">
        <span class="action like">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">1.9M</span>
        </span>
        <span class="action comment">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            1.8K
        </span>
    </div>
</div>
<!-- Post 2 -->
<div class="post"  onclick="redirectToPost('post-2')">
    <div class="post-header">
        <a href="profile/profile.html" >
            <img src="res/extras/gordon.png" alt="Avatar" class="avatar">
        </a>
        <div class="post-info">
            <span class="username">Gordon Ramsay (masterchef.gordon)</span>
            <span class="timestamp">5m ago</span>
        </div>
    </div>
    <div class="post-description">
        My new dish! Come and have some at my restaurant!
    </div>
    <div class="post-images">
        <!--<img src="res/temp.png" draggable="false" alt="Image 1" class="post-image">-->
        <!--<img src="res/temp.png" draggable="false" alt="Image 2" class="post-image">-->
        <!--<img src="res/sample01.jpg" draggable="false" alt="Image 3" class="post-image">-->
        <img src="res/extras/plain_bread.jpg" draggable="false" alt="Image 4" class="post-image">
        <!--<img src="res/temp.png" draggable="false" alt="Image 5" class="post-image">-->
    </div>
    <div class="post-actions">
        <span class="action like">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">4</span>
        </span>
        <span class="action comment">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            98.5K
        </span>
    </div>
</div>

<div class="post">
    <div class="post-header">
        <img src="res/extras/gojo.jpg" alt="Avatar" class="avatar">
        <div class="post-info">
            <span class="username">Satoru Gojo (thehonored.one)</span>
            <span class="timestamp">Just now</span>
        </div>
    </div>
    <div class="post-description">
        Sorry, Amanai.
        I'm not even angry over you right now. I bear no grudge against anyone.
        It's just that the world feels so, so wonderful right now.
        "Throughout Heaven and Earth, I alone am the honored one".
        However, even in the Gojo clan only a scant few know about this.
        Take the amplified and the reversal, then combine those two different expressions of infinity to create and push out imaginary mass.
        Imaginary technique... Purple.
    </div>
    <div class="post-images">
        <!--<img src="res/temp.png" draggable="false" alt="Image 1" class="post-image">-->
        <!--<img src="res/temp.png" draggable="false" alt="Image 2" class="post-image">-->
        <!--<img src="res/sample01.jpg" draggable="false" alt="Image 3" class="post-image">-->
        <!--<img src="res/sample02.jpg" draggable="false" alt="Image 4" class="post-image">-->
        <!--<img src="res/temp.png" draggable="false" alt="Image 5" class="post-image">-->
    </div>
    <div class="post-actions">
        <span class="action like">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">1.1B</span>
        </span>
        <span class="action comment">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            0
        </span>
    </div>
</div>
<div class="post">
    <div class="post-header">
        <img src="res/extras/walter.jpg" alt="Avatar" class="avatar">
        <div class="post-info">
            <span class="username">Walter H.Whtie (heisen.berg)</span>
            <span class="timestamp">1h ago</span>
        </div>
    </div>
    <div class="post-description">
        how to get free vbucks fortnite 2024
    </div>
    <div class="post-images">
        <img src="res/extras/dumb.jpg" draggable="false" alt="Image 3" class="post-image">
        <img src="res/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image">
        <img src="res/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image">
        <img src="res/extras/goku.jpg" draggable="false" alt="Image 4" class="post-image">

    </div>
    <div class="post-actions">
        <span class="action like">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">12</span>
        </span>
        <span class="action comment">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            22
        </span>
    </div>
</div>