<div class="fw-bolder fs-3 text-center">Confirmation Link Sent</div>
<div class="my-3 text-center">We've send a link to your associated email (**********@gmail.com).<br>
  Please check your email and follow the instruction there. </div>
<hr>
<div class="submit-button text-center pb-4">
  <a class="btn btn-dark" href="/login">Return to Login</a>
</div>
