<div class="fw-bolder fs-3 text-center">Create a Patch account</div>
<form action="#" id="login-form" method="post">
    <label for="email"></label>
    <input type="text" name="email" id="email" placeholder="Email" class="form-control">
    <label for="username"></label>
    <input type="text" name="username" id="username" placeholder="Username" class="form-control">
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
    <label for="confirm-password"></label>
    <input type="password" name="confirmPassword" id="confirm-password" placeholder="Repeat Password" class="form-control">
    <hr>
    <input type="checkbox" value="Login" id="mandatory-check" class="form-check form-check-inline" style="transform: scale(1.5)"><label for="mandatory-check">Mandatory Checkbox</label>
    <hr>
    <div class="submit-button text-center pb-4">
    <button type="submit" class="btn btn-dark">Register</button>
    </div>
    <div class="text-center link">
    <a href="/login" class="text-center text-dark text-muted">Already have an account?</a>
    </div>
</form>
