<div class="fw-bolder fs-3 text-center">Confirmation Link Sent</div>
<div class="my-3 text-center">Success! You may login now.</div>
<hr>
<div class="submit-button text-center pb-4">
  <a class="btn btn-dark" href="/login">Return to Login</a>
</div>
